<a href="https://colab.research.google.com/github/Kelly-sgithub/UFABC_2021_PYTHON/blob/main/Kelly_Silva_Jesus3_2v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://drive.google.com/u/1/uc?id=182_Z-bL7n9itkupECYhIOEGuIjfQbF0Z&export=download")
df

    periodo  temperatura
0         1           25
1         2           24
2         3           24
3         4           26
4         5           22
5         6           20
6         7           14
7         8           13
8         9           14
9        10           12
10       11           15
11       12           17
12       13           21
13       14           20
14       15           19
15       16           20
16       17           20
17       18           17
18       19           18
19       20           18
20       21           15
21       22           17
22       23           13
23       24           15
24       25           15
25       26           17
26       27           15
27       28           18
28       29           17
29       30           18

In [ ]:
#Cálculo da média
print("Media:", df["temperatura"].mean())

Media: 17.966666666666665

In [ ]:
#Cálculo da mediana
print("Mediana:", df["temperatura"].median())

Mediana: 17.5

In [ ]:
#Importando a biblioteca numpy
import numpy as np
#Calcule os percentis: 25ᵒ, 55ᵒ, 75ᵒ da temperatura
print("25ᵒ Percentil:", np.percentile(df["temperatura"], q=25))
print("55ᵒ Percentil:", np.percentile(df["temperatura"], q=55))
print("75ᵒ Percentil:", np.percentile(df["temperatura"], q=75))

25ᵒ Percentil: 15.0
55ᵒ Percentil: 18.0
75ᵒ Percentil: 20.0

In [ ]:
#Calcule e imprima a menor moda
df[["temperatura"]].mode().min()

temperatura    15
dtype: int64

In [ ]:
#Ler nome da coluna e imprimir moda
df[["temperatura"]].mode()

   temperatura
0           15
1           17

In [ ]:
#Calcule e imprima a(s) moda(s) de temperatura, mas considere esse cálculo apenas para temperatura > 16.
df2 = df.query("temperatura > 16")
df2[["temperatura"]].mode()

   temperatura
0           17

In [ ]:
#Calcule e imprime para a temperatura as seguintes medidas: mínimo, máximo, amplitude, variância - imprimir com 3 casas decimais, desvio padrão - imprimir com 3 casas decimais
print('Mínimo:', df["temperatura"].min())
print('Máximo:', df["temperatura"].max())
print('Amplitude:', df["temperatura"].max()-df["temperatura"].min())
V = df["temperatura"].var()
print('Variância:', "%.3f" % V) 
S = df["temperatura"].std()
print('Desvio padrão:', "%.3f" % S)

Mínimo: 12
Máximo: 26
Amplitude: 14
Variância: 13.620
Desvio padrão: 3.690

In [ ]:
#Criando uma nota coluna chamada "Razao" e definir periodos como temperatura / periodo 
df2 = pd.read_csv("https://drive.google.com/u/1/uc?id=182_Z-bL7n9itkupECYhIOEGuIjfQbF0Z&export=download")
df2["Razao"] = df2["temperatura"]/df2["periodo"]
df2

    periodo  temperatura      Razao
0         1           25  25.000000
1         2           24  12.000000
2         3           24   8.000000
3         4           26   6.500000
4         5           22   4.400000
5         6           20   3.333333
6         7           14   2.000000
7         8           13   1.625000
8         9           14   1.555556
9        10           12   1.200000
10       11           15   1.363636
11       12           17   1.416667
12       13           21   1.615385
13       14           20   1.428571
14       15           19   1.266667
15       16           20   1.250000
16       17           20   1.176471
17       18           17   0.944444
18       19           18   0.947368
19       20           18   0.900000
20       21           15   0.714286
21       22           17   0.772727
22       23           13   0.565217
23       24           15   0.625000
24       25           15   0.600000
25       26           17   0.653846
26       27           15   0.555556
27       28           18   0.642857
28       29           17   0.586207
29       30           18   0.600000

In [ ]:
#Cálculo da variância da coluna "Razão"
print('Variância da Razao:', df2["Razao"].var())

Variância da Razao: 24.11655347458615