<a href="https://colab.research.google.com/github/Kelly-sgithub/UFABC_2021_PYTHON/blob/main/Projeto_de_bcc_1_pessoal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
#Importando bibliotecas
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

In [34]:
#Definindo viável df e lendo a tabela
df = pd.read_csv("https://drive.google.com/u/3/uc?id=1lKO4xdH0koT3zjw6vB_XhWqbiF7JzW6H&export=download", sep = ";")
df.head(10)

   PACIENTE SEXO  IDADE MUNICIPIO_RESIDENCIA  DATA_OBITO COMORBIDADE
0         1    M     79       Patos de Minas  28/03/2020         SIM
1         2    F     82       Belo Horizonte  29/03/2020         SIM
2         3    M     66       Belo Horizonte  30/03/2020         SIM
3         4    M     44              Mariana  30/03/2020         NÃO
4         5    M     80           Uberlândia  30/03/2020         SIM
5         6    M     72            Ouro Fino  31/03/2020         NÃO
6         7    F     76       Belo Horizonte  01/04/2020         NÃO
7         8    M     69        Montes Claros  01/04/2020         NÃO
8         9    F     61           Uberlândia  02/04/2020         SIM
9        10    F     92       Belo Horizonte  02/04/2020         SIM

In [35]:
#Analisando a média, moda e mediana da coluna "Idade"
print("Media:", "%.2f" % df["IDADE"].mean())
print("Mediana:", df["IDADE"].median())
print("Paciente mais velho:", df["IDADE"].max())
print("MODA:")
df[["IDADE"]].mode()

Media: 69.86
Mediana: 72.0
Paciente mais velho: 107
MODA:

   IDADE
0     74

In [36]:
#Sexo mais atingido
df[["SEXO"]].mode()

  SEXO
0    M

In [37]:
#Município com mais mortes
df[["MUNICIPIO_RESIDENCIA"]].mode()

  MUNICIPIO_RESIDENCIA
0       Belo Horizonte

In [38]:
#Data com mais obitos
df[["DATA_OBITO"]].mode()

   DATA_OBITO
0  10/07/2020

In [49]:
#Pacientes homens e com comorbidade
sm = df.loc[df["SEXO"]=="M"]
sm1 = sm.loc[sm["COMORBIDADE"]=="SIM"]
print("Pacientes homemns e com comorbidades:", sm1.shape[0])

Pacientes homemns e com comorbidades: 1357

In [50]:
#Pacientes mulheres e com comorbidades
sm = df.loc[df["SEXO"]=="F"]
sm2 = sm.loc[sm["COMORBIDADE"]=="SIM"]
print("Pacientes mulheres e com comorbidades", sm2.shape[0])

Pacientes mulheres e com comorbidades 1045

In [51]:
#Pacientes sem comorbidade
sm3 = df.loc[df["COMORBIDADE"]=="NÃO"]
print("Pacientes sem comorbidade", sm3.shape[0])

Pacientes sem comorbidade 216

In [55]:
#Analise de qual grupo foi mais atingido
g1 = sm1.shape[0]
g2 = sm2.shape[0]
g3 = sm3.shape[0]
if g1>g2 and g1>g3:
  print("O grupo mais atingido foi dos homens com comorbidades")
elif g2>g1 and g2>g3:
  print("O grupo mais atingido foi das mulheres com comorbidaes")
else:
  print("As pessoas com comorbidades foram as mais atingidas")

O grupo mais atingido foi dos homens com comorbidades

In [56]:
#Analise de qual grupo foi menos atingido
g1 = sm1.shape[0]
g2 = sm2.shape[0]
g3 = sm3.shape[0]
if g1<g2 and g1<g3:
  print("O grupo menos atingido foi dos homens com comorbidades")
elif g2<g1 and g2<g3:
  print("O grupo menos atingido foi das mulheres com comorbidaes")
else:
  print("As pessoas com comorbidades foram as menos atingidas")

As pessoas com comorbidades foram as menos atingidas