<a href="https://colab.research.google.com/github/Kelly-sgithub/UFABC_2021_PYTHON/blob/main/Projeto_de_bcc_1_pessoal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importando bibliotecas
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

In [ ]:
#Definindo viável df e lendo a tabela
df = pd.read_csv("https://drive.google.com/u/3/uc?id=1lKO4xdH0koT3zjw6vB_XhWqbiF7JzW6H&export=download", sep = ";")
df.head(40)

    PACIENTE SEXO  IDADE      MUNICIPIO_RESIDENCIA  DATA_OBITO COMORBIDADE
0          1    M     79            Patos de Minas  28/03/2020         SIM
1          2    F     82            Belo Horizonte  29/03/2020         SIM
2          3    M     66            Belo Horizonte  30/03/2020         SIM
3          4    M     44                   Mariana  30/03/2020         NÃO
4          5    M     80                Uberlândia  30/03/2020         SIM
5          6    M     72                 Ouro Fino  31/03/2020         NÃO
6          7    F     76            Belo Horizonte  01/04/2020         NÃO
7          8    M     69             Montes Claros  01/04/2020         NÃO
8          9    F     61                Uberlândia  02/04/2020         SIM
9         10    F     92            Belo Horizonte  02/04/2020         SIM
10        11    F     88              Paraisópolis  03/04/2020         SIM
11        12    M     78              Pouso Alegre  05/04/2020         SIM
12        13    M     59                  Varginha  05/04/2020         SIM
13        14    M     82            Belo Horizonte  05/04/2020         SIM
14        15    F     60            Belo Horizonte  07/04/2020         SIM
15        16    M     70              Juiz de Fora  07/04/2020         SIM
16        17    F     46               Divinópolis  08/04/2020         NÃO
17        18    M     73                   Uberaba  10/04/2020         SIM
18        19    F     79              Paraisópolis  28/03/2020         SIM
19        20    M     24                   Itabira  06/04/2020         SIM
20        21    M     71              Juiz de Fora  29/03/2020         SIM
21        22    F     68      Governador Valadares  08/04/2020         SIM
22        23    M     84              Pouso Alegre  11/04/2020         SIM
23        24    M     81                Patrocínio  11/04/2020         SIM
24        25    F     65                Uberlândia  10/04/2020         SIM
25        26    M     72                Uberlândia  03/04/2020         NÃO
26        27    M     62      Governador Valadares  08/04/2020         SIM
27        28    M     34       São Tomás de Aquino  12/04/2020         SIM
28        29    M     78                    Piumhi  13/04/2020         SIM
29        30    M     64                   Uberaba  13/04/2020         SIM
30        31    M     68                    Bonfim  12/04/2020         SIM
31        32    F     72            Belo Horizonte  14/04/2020         SIM
32        33    F     76             Belmiro Braga  03/04/2020         SIM
33        34    M     69            Belo Horizonte  15/04/2020         SIM
34        35    M     68                   Nanuque  15/04/2020         SIM
35        36    F     72  São Sebastião do Paraíso  12/04/2020         SIM
36        37    F     72               Três Pontas  12/04/2020         SIM
37        38    F     81              Nova Serrana  08/04/2020         SIM
38        39    M     67           Poços de Caldas  16/04/2020         SIM
39        40    F     46                   Extrema  14/04/2020         SIM

In [ ]:
#Analisando a média, moda e mediana da coluna "Idade"
print("Media:", "%.2f" % df["IDADE"].mean())
print("Mediana:", df["IDADE"].median())
print("Paciente mais velho:", df["IDADE"].max())
print("MODA:")
df[["IDADE"]].mode()

Media: 69.86
Mediana: 72.0
Paciente mais velho: 107
MODA:

   IDADE
0     74

In [ ]:
#Sexo mais atingido
df[["SEXO"]].mode()

  SEXO
0    M

In [ ]:
#Município com mais mortes
df[["MUNICIPIO_RESIDENCIA"]].mode()

  MUNICIPIO_RESIDENCIA
0       Belo Horizonte

In [ ]:
#Data com mais obitos
df[["DATA_OBITO"]].mode()

   DATA_OBITO
0  10/07/2020

In [ ]:
#Pacientes homens e com comorbidade
sm = df.loc[df["SEXO"]=="M"]
sm1 = sm.loc[sm["COMORBIDADE"]=="SIM"]
sm1

      PACIENTE SEXO  IDADE MUNICIPIO_RESIDENCIA  DATA_OBITO COMORBIDADE
0            1    M     79       Patos de Minas  28/03/2020         SIM
2            3    M     66       Belo Horizonte  30/03/2020         SIM
4            5    M     80           Uberlândia  30/03/2020         SIM
11          12    M     78         Pouso Alegre  05/04/2020         SIM
12          13    M     59             Varginha  05/04/2020         SIM
...        ...  ...    ...                  ...         ...         ...
2885      2886    M     77      Poços de Caldas  28/07/2020         SIM
2886      2887    M     81              Itajubá  29/07/2020         SIM
2888      2889    M     80               Cambuí  15/05/2020         SIM
2889      2890    M     86             Andradas  30/07/2020         SIM
2893      2894    M     68         Pouso Alegre  01/08/2020         SIM

[1357 rows x 6 columns]

In [ ]:
#Pacientes mulheres e com comorbidades
sm = df.loc[df["SEXO"]=="F"]
sm2 = sm.loc[sm["COMORBIDADE"]=="SIM"]
sm2

      PACIENTE SEXO  IDADE MUNICIPIO_RESIDENCIA  DATA_OBITO COMORBIDADE
1            2    F     82       Belo Horizonte  29/03/2020         SIM
8            9    F     61           Uberlândia  02/04/2020         SIM
9           10    F     92       Belo Horizonte  02/04/2020         SIM
10          11    F     88         Paraisópolis  03/04/2020         SIM
14          15    F     60       Belo Horizonte  07/04/2020         SIM
...        ...  ...    ...                  ...         ...         ...
2878      2879    F     76              Uberaba  30/07/2020         SIM
2879      2880    F     83              Uberaba  31/07/2020         SIM
2882      2883    F     77                Guapé  31/07/2020         SIM
2887      2888    F     74              Itajubá  22/07/2020         SIM
2890      2891    F     68        Borda da Mata  30/07/2020         SIM

[1045 rows x 6 columns]

In [ ]:
#Pacientes sem comorbidade
sm3 = df.loc[df["COMORBIDADE"]=="NÃO"]
sm3

      PACIENTE SEXO  IDADE MUNICIPIO_RESIDENCIA  DATA_OBITO COMORBIDADE
3            4    M     44              Mariana  30/03/2020         NÃO
5            6    M     72            Ouro Fino  31/03/2020         NÃO
6            7    F     76       Belo Horizonte  01/04/2020         NÃO
7            8    M     69        Montes Claros  01/04/2020         NÃO
16          17    F     46          Divinópolis  08/04/2020         NÃO
...        ...  ...    ...                  ...         ...         ...
2720      2721    F     38              Ibirité  27/07/2020         NÃO
2744      2745    F     84       Belo Horizonte         NaN         NÃO
2746      2747    F     70       Belo Horizonte         NaN         NÃO
2756      2757    M     59       Belo Horizonte         NaN         NÃO
2775      2776    F     45               Passos  30/07/2020         NÃO

[216 rows x 6 columns]